<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb2535263490090564</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.497109148599-u0g40f3e5uh53286hdrpsj10v505tral</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>FacebookAppID</key>
	<string>2535263490090564</string>
	<key>FacebookDisplayName</key>
	<string>PixelPhotoiOS</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This application would like to access your camera in order to take pictures</string>
	<key>NSLocationUsageDescription</key>
	<string>This application would like to access your location in order to get nearby users.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This application would like to access your location in order to get nearby users.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This application would like to access you microphone in order to send voice notes</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This application would like to access your gallery in order to select photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This application would like to access your gallery in order to select photos</string>
	<key>UIAppFonts</key>
	<array>
		<string>beyond_wonderland.ttf</string>
		<string>BoutrosMBCDinkum-Medium.ttf</string>
		<string>Bryndan-Write.ttf</string>
		<string>emojione-android.ttf</string>
		<string>Hacen Sudan.ttf</string>
		<string>Harmattan-Regular.ttf</string>
		<string>ionicons.ttf</string>
		<string>Norican-Regular.ttf</string>
		<string>Oswald-Heavy.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>RobotoMono-Regular.ttf</string>
		<string>SF-UI-Display-Regular.ttf</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
